@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400&family=Comfortaa:wght@600&family=IBM+Plex+Mono:wght@700&family=MuseoModerno:ital@0;1&family=Poppins:wght@200;300;400;700&family=Prompt:ital,wght@1,500&family=Quicksand:wght@300;400;500;600&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,700;1,700&family=Silkscreen&display=swap');



  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400&family=Comfortaa:wght@600&family=Cormorant+Infant:ital,wght@1,600;1,700&family=IBM+Plex+Mono:wght@700&family=Inter:wght@200;400;500;600;700;800;900&family=MuseoModerno:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Prompt:ital,wght@1,500&family=Quicksand:wght@300;400;500;600&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,700;1,700&family=Silkscreen&family=Urbanist&display=swap');
/* background */


body {
  


   /*  background-image: linear-gradient(rgba(151, 154, 213, 0.1) 1px, transparent 1px),
                      linear-gradient(to right, rgba(151, 154, 213, 0.1) 1px, rgba(229, 234, 245, 0.1) 1px);

  
  background: -webkit-linear-gradient(to right, #EDE7DA, #C3D3D8);  /* Chrome 10-25, Safari 5.1-6 */
 /* background: linear-gradient(to right, #e6e4de, #C3D3D8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background-color: linear-gradient(to right, #f2f0ec, #CCD3DE); 


 background-color: #e8e8e8;
 
}



 /* CSS for the loader page */

/* Drop down button */
.dropdown {
  display: inline-block;
  float: right;
  position: absolute;
  top: 20px;
  right: 15px;
}

.dropdown .dropbtn {
  background-color: transparent;
  color: #303030;
  padding: 10px;
  font-size: 2vw;
  border: none;
  cursor: pointer;
}

.dropdown .dropbtn img {
  width: 35%;
}

.dropdown .dropbtn .bi-list {
  stroke-width: 3px; /* Adjust the stroke width as desired */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  border-radius: 15px;
  z-index: 1;
  right: 10px;
  opacity: 0;
  transform: translateY(-20px);
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: opacity 0.3s;
}

.dropdown.open .dropdown-content {
  display: block;
  animation-name: fade-in;
  opacity: 1;
}

.dropdown:not(.open) .dropdown-content {
  animation-name: fade-out;
  opacity: 0;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0); 
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 12px 30px;
  margin-right: 0px;
  text-align: left;
  color: #383838;
  font-weight: 400;
	font-family: inter;
  font-size: 0.75em;
  
}

.dropdown-content b {
  text-decoration: none;
  display: block;
  padding: 12px 40px;
  margin-right: 0px;
  text-align: left;
font-weight: 400;
  color: #606060;

	font-family: inter;
  font-size: 0.75em;
}


.dropdown-content a:first-child:hover {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.dropdown-content a:last-child:hover {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dropdown-content a,
.dropdown-content a:hover,
.dropdown-content a:focus,
.dropdown-content a:visited,
.dropdown-content a:active {
  text-decoration: none;
  color: #444444;
}

.dropdown-content a:focus {
  outline: none;
}


.dropdown-content a:hover {
  background-color: #4971F5;
  border-radius: 0;
  color: white;
}

.dropdown-content b:hover {
  background-color: #4971F5;
  border-radius: 0;
  color: white;
}





.circle {
  width: 60px;
  height: 60px;
  background-color: #6298cb;
  opacity: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  transition: transform 2s ease-in-out; /* Added transition */
}




/* SHWAP heading and desctription */

.content0 {

  align-items: end;
  flex-grow: 1;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 5%;
  position: relative;
  z-index: 1;

 justify-content: space-between;
}


.description0 {
  width: 100%;
  display: flex;
  justify-content: space-between;

}


.heading {
  font-family: Inter;
  font-weight: 700;
  font-size: 3.4vw;
  color: #1D2020;
width: 90%;
  align-self: center;

}


.description0 p {
  font-size: 1vw;
  color: #383838;
  font-family: Be Vietnam Pro;
  font-weight: 300; 
  line-height: 2em;

  align-self: center;
}



.bear {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 5%;
  margin-bottom: 10%;
  gap: 5%;
  
}

.vi{

}
.bear .vi {
  width: 50%; /* Adjust this value to control the size of the image and video */
  overflow: hidden; /* Hide any overflow */
  position: relative;

}

.bear img{
  width: 95%;
  height: auto;
  border-radius: 15px;

 
}

.bear video {
  width: 100%;
  height: 100%;


  object-fit: cover; /* Maintain aspect ratio and cover the container */

 
}




/* ---------------------------------------------------------------------------------- */


@media only screen and (max-width: 767px) {


  /* Drop down button */
.dropdown {
  display: inline-block;
  float: right;
  position: absolute;
  top: 20px;
  right: 25px;
}

.dropdown .dropbtn {
  background-color: transparent;
  color: #303030;
  padding: 10px;
  font-size: 4vw;
  border: none;
  cursor: pointer;
  transform: rotate(90deg);
}

.dropdown .dropbtn .bi-list {
  stroke-width: 3px; /* Adjust the stroke width as desired */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  border-radius: 15px;
  z-index: 1;
  right: 0;
  opacity: 0;
  transform: translateY(-20px);
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.dropdown.open .dropdown-content {
  display: block;
  animation-name: fade-in;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

.dropdown-content a {
  color: #323232;
  text-decoration: none;
  display: block;
  padding: 10px 30px;
  margin-right: 0px;
  text-align: center;
  font-family: Quasimoda;
}

.dropdown-content a:hover {
  background-color: #95abe5;
  border-radius: 0;
}

.dropdown-content a:first-child:hover {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.dropdown-content a:last-child:hover {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dropdown-content a,
.dropdown-content a:hover,
.dropdown-content a:focus,
.dropdown-content a:visited,
.dropdown-content a:active {
  text-decoration: none;
  color: #323232;
}

.dropdown-content a:focus {
  outline: none;
}


/* Alkan-27 heading and desctription */

.content0 {

  margin-left: 12%;
  margin-right: 12%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.description0{
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
}


.heading {
  font-family: 'IBM Plex Mono';
  font-weight: 700;

  color: #77D6B0;
}


.description0 p {
  font-size: 3vw;
  color: #3f3f3f;
  font-family: Be Vietnam Pro;
  font-weight: 350; 
  line-height: 2.5em;
}


.photos{
  width: 100%;
  gap: 5%;
 
margin-top: 3%;
  padding-bottom: 1.5%;
  box-shadow: 0px 0px 50px rgba(172, 172, 172, 0.1);

}
 
.photos img {
  width: 47%;
  border-radius: 1vw;
  border: white solid 1px;
  transition: box-shadow 0.3s ease-in-out;
}






/* Role and Achievements cards */

.container {
  display: grid;
  grid-template-columns: repeat(2, 1); /* change to (2, 1fr) for 2 by 2 grid */
  gap: 3%;
  margin-top: 10%;

}

.card {
  object-fit: cover;
  width: auto; /* Set width to take up the full space of the grid cell */
  height: 35%;
  font-size: 3vw;
  padding: 10%;
}

.card:nth-child(3) {
  grid-column: span 2; /* Span across two grid columns */
}




/* Text toggler/carousel */

.carousel {
  display: flex;
  align-items: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 20%;
  margin-bottom: 5%; 
}



.heading-column {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  color: #353535;
  margin-right: 7%;
  line-height: 8vw;

}

.heading-column > div {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.heading-column > div.active {
  opacity: 1;
}

.description-column {
  display: flex;
  align-items: center;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 3vw;
  line-height: 2.4em;
  color: #353535;

}

.description-column .description {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.description-column .description.active {
  display: block;
  opacity: 1;
}





/* Design process */

.outerr {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10%;
  margin-left: 12%;
  align-items: center;
  margin-right: 12%;
  gap: 5%;
}

.header-contentt{
  width: 100%;
}


.titlee {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;


  color: #353535
}

.line{
  font-family: Be Vietnam Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 3vw;
  line-height: 2.4em;
  color: #353535;
  margin-bottom: 3%;
}


.in {
  display: flex;
  align-items: center;
  gap: 6%;
  font-size: 3vw;
  color: #323232;
  font-family: Be Vietnam Pro;
  font-weight: 300; 
  line-height: 2.4em;
  color: #303030;

}

.inn {
  font-size: 3vw;
  color: #323232;
  font-family: Be Vietnam Pro;
  font-weight: 300; 
  line-height: 2.4em;
  color: #303030;
  display: flex;
  align-items: center;
  gap: 6%;
}

.titleee{
  margin-top: 5%;
  font-size: 3vw;
  color: #323232;
  font-family: Be Vietnam Pro;
  font-weight: 300; 
  line-height: 2.4em;
  color: #303030;

}

.in img {
  width: 6%; /* Set the desired width */

  height: 10%; /* Automatically calculate the height */
  box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.5);

  transition: box-shadow 0.3s ease-in-out;
  background: #303030;
  padding: 1%;
  border-radius: 1.5vw;

}

.inn img {
  width: 6%; /* Set the desired width */

  height: 10%; /* Automatically calculate the height */
  box-shadow:  0px 4px 100px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  background: #303030;
  padding-right: 0.9%;
  padding-left: 0.9%;
  padding-bottom: 1.5%;
  padding-top: 0.5%;
  border-radius: 1.5vw;
}


.in img:hover{
  animation-duration: 0.3s;
  box-shadow: 0px 0px 30px #767676;
}


.inn img:hover{
  animation-duration: 0.3s;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 0px 30px #F0BE6F;
}


.titleee img {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin-top: 3%;
  }







/* Incentive Process */

.incentive {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 10%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 10vh;
  color: #353535
}

.image-containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.image-containerr img {

  width: 100%;
}





/* Prototype 1 section */

.top{
  margin-top: 10%;
  margin-left: 12%;
  margin-right: 12%;
}


.top h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 10vh;
  color: #353535;
  text-align: left;  
}

.img-container7 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  margin-left: 12%;
  margin-right: 12%;
  gap: 5%;
  justify-content: space-around;
}

.img-container7 img:first-child {
  width: 90%;
  height: auto; 
  object-fit: contain;
  margin-bottom: 10%;
  align-self: center;

}

.img-container7 img:last-child {
  width: 100%;
  height: auto; 
  object-fit: contain;
  padding-top: 2%;
  align-self: center;
}






/* Demo */

.image-box h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  color: #303535;
  
}

.c1 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 3vw;

  font-family: Be Vietnam Pro; 
  font-weight: 350; 
  line-height: 3em;
  color: #303030;

  margin-top: 7%;
  margin-bottom: 5%;
  margin-left: 12%;
  margin-right: 12%;
}

.content-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.image-box {
  flex: 1;
  background: none;
}

.video-box video:hover{
  animation-duration: 0.3s;
}

.video-box {
  margin-top: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  background: none;
}

.video-box video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 1vw;
  border: 1px solid white;
}










 



 /* Future Developments */
 
 .titlee2{ /* Heading */
margin-top: 15%;
 margin-left: 12%;
 margin-right: 12%;
 padding: none;
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 700;
 font-size: 3.5vw;
 line-height: 45px;
 color: #353535

}


.header-textt2{
  display: flex;
  gap: 8%;
  margin-bottom: 3%;
}


 .outerr2 { /* Entire box */
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 12%;
  align-items: center;
  margin-right: 12%;
  margin-top: 5%;
  gap: 6%;

}


.header-contentt9{ /* First Box */
  width: 100%;
}

.header-contentt2{ /* second box */
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}


.in2 { /* Hydraulic system box */
  display: flex;
  align-items: center;
  gap: 5%;
  font-size: 3vw;
  color: #323232;
  font-family: Be Vietnam Pro;
  font-weight: 300; 
  line-height: 2em;
  color: #303030;
  
}


.inn2 { /* Recycle box */
  font-size: 3vw;
  color: #323232;
  font-family: Be Vietnam Pro;
  font-weight: 300; 
  line-height: 2em;
  color: #303030;
  display: flex;
  align-items: center;
  gap: 10%;
}

.in221{ /* Wifi Box */
  display: flex;
  align-items: center;
  gap: 10%;
  font-size: 3vw;
  color: #323232;
  font-family: Be Vietnam Pro;
  font-weight: 300; 
  line-height: 2em;
  color: #303030;
}

.inn22{ /* Message Box */
  display: flex;
  align-items: center;
  gap: 5%;
  font-size: 3vw;
  color: #323232;
  font-family: Be Vietnam Pro;
  font-weight: 300; 
  line-height: 2em;
  color: #303030;
 
}

.in2 img { /* Hydraulic system icon */
  width: 8%; 
  height: auto;
  box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  background: #303030;
  border-radius: 1vw;
}


.in221 img{ /* Wifi svg */
  width: 18%; 
  height: auto;
  box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  background: #303030;
  border-radius: 1vw;
}


.inn2 img{  /* Recycle icon */
  width: 18%; 
  height: auto;
  box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  background: #303030;
  border-radius: 1vw;
}


.inn22 img{ /* Message icon */
  width: 8%; 
  height: auto;
  box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  background: #303030;
  border-radius: 1vw;

}


.in2 img:hover{
  animation-duration: 0.3s;
  box-shadow: 0px 0px 30px #767676;
}

.in221 img:hover{
  animation-duration: 0.3s;
  box-shadow: 0px 0px 30px #767676;
}

.inn2 img:hover{
  animation-duration: 0.3s;
  box-shadow: 0px 0px 30px #767676;
}

.inn22 img:hover{
  animation-duration: 0.3s;
  box-shadow: 0px 0px 30px #767676;
}




/* Additional Information */

.Addinfo{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  color: #303535;
  margin-top: 10%;
  margin-left: 12%;
  margin-right: 12%
}

.outer-container2{
  margin-bottom: 10%;
  margin-top: 5%;
}


.image-panel2 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Added */
}

.image-container2 {
  width: 50%; /* Reduced width */
} 

.image-container2 img {
  width: 100%; 
  margin-bottom: 5%;
  border-radius: 2vw;
}

.image-container2:first-child img,
.image-container2:last-child img {
  opacity: 1; 
}

.image-container2:first-child:hover img,
.image-container2:last-child:hover img {
  opacity: 1;
  /* transform: scale(1.05); */
}

.image-container2 video {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 2vw;
  border: solid 1px white;
}

.image-container2 video::-webkit-media-controls {
  width: 100%; 
  border-radius: 2vw;
}


}








