@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400&family=Comfortaa:wght@600&family=IBM+Plex+Mono:wght@700&family=MuseoModerno:ital@0;1&family=Poppins:wght@200;300;400;700&family=Prompt:ital,wght@1,500&family=Quicksand:wght@300;400;500;600&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,700;1,700&family=Silkscreen&display=swap');



  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400&family=Comfortaa:wght@600&family=Cormorant+Infant:ital,wght@1,600;1,700&family=IBM+Plex+Mono:wght@700&family=Inter:wght@200;400;500;600;700;800;900&family=MuseoModerno:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Prompt:ital,wght@1,500&family=Quicksand:wght@300;400;500;600&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,700;1,700&family=Silkscreen&family=Urbanist&display=swap');
/* background */


body {
  


   /*  background-image: linear-gradient(rgba(151, 154, 213, 0.1) 1px, transparent 1px),
                      linear-gradient(to right, rgba(151, 154, 213, 0.1) 1px, rgba(229, 234, 245, 0.1) 1px);

  
  background: -webkit-linear-gradient(to right, #EDE7DA, #C3D3D8);  /* Chrome 10-25, Safari 5.1-6 */
 /* background: linear-gradient(to right, #e6e4de, #C3D3D8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background-color: linear-gradient(to right, #f2f0ec, #CCD3DE); 


 background-color: #e8e8e8;
 
}



 /* CSS for the loader page */

/* Drop down button */

/* Drop down button */
.dropdown {
  display: inline-block;
  float: right;
  position: absolute;
  top: 20px;
  right: 15px;
}

.dropdown .dropbtn {
  background-color: transparent;
  color: #303030;
  padding: 10px;
  font-size: 2vw;
  border: none;
  cursor: pointer;
}

.dropdown .dropbtn img {
  width: 35%;
}

.dropdown .dropbtn .bi-list {
  stroke-width: 3px; /* Adjust the stroke width as desired */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  border-radius: 15px;
  z-index: 1;
  right: 10px;
  opacity: 0;
  transform: translateY(-20px);
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: opacity 0.3s;
}

.dropdown.open .dropdown-content {
  display: block;
  animation-name: fade-in;
  opacity: 1;
}

.dropdown:not(.open) .dropdown-content {
  animation-name: fade-out;
  opacity: 0;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0); 
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 12px 30px;
  margin-right: 0px;
  text-align: left;
  color: #383838;
  font-weight: 400;
	font-family: inter;
  font-size: 0.75em;
  
}

.dropdown-content b {
  text-decoration: none;
  display: block;
  padding: 12px 40px;
  margin-right: 0px;
  text-align: left;
font-weight: 400;
  color: #606060;

	font-family: inter;
  font-size: 0.75em;
}


.dropdown-content a:first-child:hover {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.dropdown-content a:last-child:hover {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dropdown-content a,
.dropdown-content a:hover,
.dropdown-content a:focus,
.dropdown-content a:visited,
.dropdown-content a:active {
  text-decoration: none;
  color: #444444;
}

.dropdown-content a:focus {
  outline: none;
}


.dropdown-content a:hover {
  background-color: #4971F5;
  border-radius: 0;
  color: white;
}

.dropdown-content b:hover {
  background-color: #4971F5;
  border-radius: 0;
  color: white;
}



.circle {
  width: 60px;
  height: 60px;
  background-color: #6298cb;
  opacity: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  transition: transform 2s ease-in-out; /* Added transition */
}




/* SHWAP heading and desctription */

.content0 {
  display: flex;
  align-items: end;
  flex-grow: 1;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 5%;
  position: relative;
  z-index: 1;

 
}


.description0 {
  width: 100%;
  display: flex;



}

.heading {
  font-family: Inter;
  font-weight: 700;
  font-size: 4vw;
  color: #1D2020;
  width: 100%;

  align-self: center;

}


.description0 p {
  font-size: 1vw;
  color: #1D2020;
  font-family: Be Vietnam Pro;
  font-weight: 300; 
  line-height: 2em;

  align-self: top;
}






.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 
  grid-row-gap: 1.5%; /* Adjust the vertical gap */
  grid-column-gap: 1.5%; 

  margin-left: 12%;
  margin-right: 12%;
  margin-top: 5%;
  margin-bottom: 15%;
  object-fit: cover;
}


.grid-container * {
  margin: 0;
  box-sizing: border-box;
  object-fit: cover;
}



.card img {
  max-width: 100%;
  height: auto;
  border: none;
  transition: 0.3s ease-in-out;
  object-fit: cover;
}







.outside{

}

.proj {
  position: absolute;
  z-index: 1;
  padding: 1.5%;
  font-family: georgia;
  font-weight: 500;
  font-size: 1em;
  opacity: 0;
  line-height: 3.5vh;
  visibility: hidden;
  color: black;
  transition: opacity 0.5s ease, visibility 0.3s ease;
  object-fit: cover;
}


.grid-container .card:nth-child(1) .proj {
  color: white;
  opacity: 1;
  object-fit: cover;
}



.proj p {
  font-style: italic;
  opacity: 0.7;
}

.card {
  object-fit: cover;
  overflow: hidden; /* Prevents text from overflowing during transition */
  object-fit: cover;
}

.card:hover .proj {
  visibility: visible;
  opacity: 0.8;
}

/* CSS for the card */
.card {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden; /* Hide any content that overflows */
}

/* CSS for the video and images */
.card video,
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* CSS for the project description */
.proj {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5%;
  font-family: Be vietnam pro;
  font-weight: 300;
  font-size: 1em;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  transition: opacity 1s ease;
}

/* CSS for showing the project description on hover */
.card:hover .proj {
  opacity: 1;
}






/* ---------------------------------------------------------------------------------- */


@media only screen and (max-width: 767px) {


/* Alkan-27 heading and desctription */

.content0 {
display: flex;
flex-direction: column;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 5%;
  align-items: center;

}


.description0{
  display: flex;
flex-direction: column;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
}


.heading {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 10vw;
  align-self: flex-start;
  width: 100%;
  color: #040404;
}


.description0 p {
  font-size: 3.3vw;
  color: #3f3f3f;
  font-family: Be Vietnam Pro;
  font-weight: 350; 
  line-height: 2em;
}




}



